{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Project Details</li>
{% endblock page %}

{% block content %}

<div class="content">

    <!-- BEGIN: Notification -->
    {% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <h2 class="text-primary text-center font-medium mt-10 py-5" style=" font-size: 30px;">Project Details</h2>

    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center">
                <div class="ml-5 text-center">
                    <div class="sm:whitespace-normal font-medium text-lg">{{ project.Project_Name }}</div>
                    <div class="text-slate-500 mt-2">REFERENCE : {{ project.Reference }}</div>
                    <div class="text-slate-500 mt-2">EXPECTING START DATE : {{ project.Expected_Starting_Date | date:'d M Y' }}</div>
                    <div class="text-slate-500 mt-2">EXPECTING FINAL AMOUNT : {{ project.Expected_Amount }}</div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 pb-5 -mx-5">
            
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Client Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ project.Client_Name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ project.Client_Mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail" class="w-4 h-4 mr-2"></i> {{ project.Client_Email }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="map-pin" class="w-4 h-4 mr-2"></i> {{ project.Client_Address }} </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ project.Contact_Name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ project.Contact_Number }} </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <!-- <div class="font-medium text-center lg:text-left lg:mt-3">Client Details</div> -->
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> 
                        <i data-lucide="user" class="w-4 h-4 mr-2"></i>
                        <span class="font-medium mr-2">Department Managers : </span> {% for dm in project.Department_Managers.all %} {{ dm }} {% endfor %} 
                    </div>

                    {% if project.Project_Engineers.all %}
                        <div class="truncate sm:whitespace-normal flex items-center mt-3"> 
                            <i data-lucide="user" class="w-4 h-4 mr-2"></i>
                            <span class="font-medium mr-2">Project Engineers : </span> {% for pe in project.Project_Engineers.all %} {{ pe }} {% endfor %} 
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- <div class="flex flex-col lg:flex-row border-b border-slate-200/60 pb-5 -mx-5">
            <div class="px-5 items-center">
                <div class="grid grid-cols-12 gap-y-5 mt-5">
                    
                    {% if project.project_Descriptio %}
                        <div class="col-span-12">
                            <div class="text-slate-500 mt-2">{{ project.project_Description | safe }}</div>
                        </div>
                    {% endif %}
  
                </div>
                <div class="col-span-12 mt-5 flex justify-center gap-4">
                    {% if user.is_superuser or user.Job_Role == 'Department Manager' %}
                        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#basic-modal-preview" class="btn btn-primary">
                            {% if project.Project_Engineers.all %}
                                EDIT PROJECT ENGINEER
                            {% else %}
                                ASSIGN TO PROJECT ENGINEER
                            {% endif %}
                        </a> 
                    {% endif %}

                    {% if user.is_superuser or user.Job_Role == 'Project Engineer' %}
                        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal-preview" class="btn btn-primary">CREATE REQUISITION</a>
                    {% endif %}
                </div>
            </div>
        </div> -->

        <div class="border-b border-slate-200/60 pb-5">
            <div class="grid grid-cols-12 gap-y-5">

                {% if project.project_Description %}
                    <div class="col-span-12">
                        <div class="text-slate-500 mt-2">{{ project.project_Description | safe }}</div>
                    </div>
                {% endif %}

                <div class="col-span-12 flex justify-center gap-4">
                    {% if user.is_superuser or user.Job_Role == 'Department Manager' %}
                        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#basic-modal-preview" class="btn btn-primary">
                            {% if project.Project_Engineers.all %}
                                EDIT PROJECT ENGINEER
                            {% else %}
                                ASSIGN TO PROJECT ENGINEER
                            {% endif %}
                        </a> 
                    {% endif %}

                    {% if user.is_superuser or user.Job_Role == 'Project Engineer' %}
                        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal-preview" class="btn btn-primary">CREATE REQUISITION</a>
                    {% endif %}
                </div>

            </div>
        </div>

        <ul class="nav nav-link-tabs" role="tablist">
            <li id="example-5-tab" class="nav-item flex-1" role="presentation">
                <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-5" type="button" role="tab" aria-controls="example-tab-5" aria-selected="true">
                    Employees Working on Project
                </button>
            </li>

            <li id="example-6-tab" class="nav-item flex-1" role="presentation"> 
                <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#example-tab-6" type="button" role="tab" aria-controls="example-tab-6" aria-selected="false">
                    Requisitions Created
                </button> 
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div id="example-tab-5" class="tab-pane leading-relaxed active pb-10" role="tabpanel" aria-labelledby="example-5-tab"> 
                {% if staffs %}
                <div class="intro-y overflow-auto lg:overflow-visible">
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">SL NO</th>
                                <th class="text-center whitespace-nowrap">NAME</th>
                                <th class="text-center whitespace-nowrap">IMAGES</th>
                                <th class="text-center whitespace-nowrap">STAFF ID</th>
                                <th class="text-center whitespace-nowrap">JOB ROLE</th>
                                <th class="text-center whitespace-nowrap">STAUS</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staff in staffs %}
                                <tr class="intro-x">
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap text-primary">{{ staff.first_name }}</a> 
                                    </td>
                                    <td class="flex justify-center">
                                        <div class="w-10 h-10 image-fit zoom-in">
                                            {% if staff.Image %}
                                                <img alt="" class="rounded-full" src="{{ staff.Image.url }}">
                                            {% else %}
                                                <img alt="" class="rounded-full" src="{% static 'dashboard/images/profile.jpg' %}">
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-center">{{ staff.Staff_ID }}</td>
                                    <td class="text-center">{{ staff.Job_Role }}</td>

                                    {% if staff.is_active %}
                                        <td class="text-center text-success">ACTIVE</td>
                                    {% else %}
                                        <td class="text-center text-danger">INACTIVE</td>
                                    {% endif %}

                                    <td class="table-report__action w-48">
                                        <div class="flex justify-center items-center">
                                            <a class="flex items-center text-success" href="{% url 'staff-details' staff.username %}" title="view"> 
                                                <i data-lucide="eye" class="w-4 h-4 mr-1"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width"> 
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                            background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>   
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
            <div id="example-tab-6" class="tab-pane leading-relaxed pb-10" role="tabpanel" aria-labelledby="example-6-tab"> 
                {% if requisitions %}
                    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">SL NO</th>
                                    <th class="text-center whitespace-nowrap">REFERENCE</th>
                                    <th class="text-center whitespace-nowrap">NUMBER OF ITEMS</th>
                                    <th class="text-center whitespace-nowrap">CREATED DATE</th>
                                    <th class="text-center whitespace-nowrap">CREATED BY</th>
                                    <th class="text-center whitespace-nowrap">STATUS</th>
                                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for requisition in requisitions %}
                                    <tr class="intro-x">
                                        <td class="text-center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="text-center whitespace-nowrap">
                                            <a href="" class="font-medium text-primary">{{ requisition.Reference }}</a>
                                        </td>
                                        <td class="text-center">{{ requisition.items }}</td>
                                        <td class="text-center">{{ requisition.Added_Date | date:'d M Y' }}</td>
                                        <td class="text-center">{{ requisition.Added_By }}</td>

                                        {% if requisition.Requisition_Status == 'APPROVED' %}
                                            <td class="text-center text-success">{{ requisition.Requisition_Status  }}</td>
                                        {% elif requisition.Requisition_Status == 'REJECTED' %}
                                            <td class="text-center text-danger">{{ requisition.Requisition_Status  }}</td>
                                        {% else %}
                                            <td class="text-center text-warning">{{ requisition.Requisition_Status  }}</td>
                                        {% endif %}

                                        <td class="table-report__action w-48">
                                            <div class="flex justify-center items-center">

                                                <a class="flex items-center mr-3 text-success" href="{% url 'view-requisition' requisition.Reference %}"> <i data-lucide="eye" class="w-4 h-4 mr-1"></i></a>
                                                
                                                {% if requisition.Requisition_Status == 'PENDING' %}
                                                    <a class="flex items-center mr-3 text-primary" href="{% url 'requisition' requisition.Reference %}" title="edit"> <i data-lucide="edit" class="w-4 h-4 mr-1"></i></a>
                                                {% endif %}

                                                {% if requisition.Requisition_Status == 'APPROVED' %}
                                                    <a class="flex items-center mr-3 text-primary" href="{% url 'compare' requisition.Reference %}" title="quotations"> <i data-lucide="file" class="w-4 h-4 mr-1"></i></a>
                                                {% endif %}

                                                <!-- <a class="flex items-center text-danger" onclick="delete_requisition('{{ requisition.id }}')" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal" title="delete"> 
                                                    <i data-lucide="trash" class="w-4 h-4 mr-1"></i>
                                                </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width"> 
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                            background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>   
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END: Profile Info -->
</div>

<!-- BEGIN: Modal Content --> 
<div id="basic-modal-preview" class="modal" tabindex="-1" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-body p-10 text-center">
                <form action="{% url 'assign-pe' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <p>Select Project Engineer</p>
                    <select name="project_engineers" id="" class="tom-select mt-2">
                        {% if project.Project_Engineers %}
                            {% for pe in project.Project_Engineers.all %}
                                <option value="{{ pe.id }}" selected>{{ pe.first_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">Search for Project Engineers</option>
                        {% endif %}
                        
                        {% for pe in project_engineers %}
                        <option value="{{ pe.id }}" class="text-left">{{ pe.first_name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success text-white mt-3">Confirm</button>
                </form>
            </div> 
        </div> 
    </div> 
</div> 
<!-- END: Modal Content --> 


<!-- BEGIN:REQUISITION Modal Content -->
<div id="delete-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'create-requisition' project.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body p-0">
                    <div class="p-5 text-center"> <i data-lucide="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to create a new requisition?</div>
                    </div>
                    <div class="px-5 pb-8 text-center"> 
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button> 
                        <button type="submit" class="btn btn-success w-24 text-white">Confirm</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
<!-- END:REQUISITION Modal Content -->
{% endblock content %}