{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Project Details</li>
{% endblock page %}

{% block content %}

<div class="content">

    <!-- BEGIN: Notification -->
    {% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <h2 class="text-primary text-center font-medium mt-10 py-5" style=" font-size: 30px;">Project Details</h2>

    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center">
                <div class="ml-5 text-center">
                    <div class="sm:whitespace-normal font-medium text-lg">{{ project.Project_Name }}</div>
                    <div class="text-slate-500 mt-2">JOB NO : {{ project.Job_No }}</div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 pb-5 -mx-5">
            
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Client Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ project.Client_Name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ project.Client_Mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail" class="w-4 h-4 mr-2"></i> {{ project.Client_Email }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="map-pin" class="w-4 h-4 mr-2"></i> {{ project.Client_Address }} </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ project.Contact_Name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ project.Contact_Number }} </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 border-t lg:border-t-0 pt-5 lg:pt-0">
                <!-- <div class="font-medium text-center lg:text-left lg:mt-3">Client Details</div> -->
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> 
                        <i data-lucide="user" class="w-4 h-4 mr-2"></i>
                        <span class="font-medium mr-2">Department Managers : </span> {% for dm in project.Department_Managers.all %} {{ dm }} {% endfor %} 
                    </div>

                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> 
                        <i data-lucide="user" class="w-4 h-4 mr-2"></i>
                        <span class="font-medium mr-2">Project Engineers : </span>
                        {% if project.Project_Engineers.all %}
                            {% for pe in project.Project_Engineers.all %} {{ pe }} {% endfor %}
                            <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#basic-modal-preview">
                                <i data-lucide="edit" class="w-4 h-4 ml-2 font-bold"></i>
                            </a>
                        {% else %}
                            <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#basic-modal-preview">
                                <i data-lucide="plus-circle" class="w-4 h-4 ml-2 font-bold"></i>
                            </a> 
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        {% if project.project_Description %}
            <div class="border-b border-slate-200/60 pb-5">
                <div class="grid grid-cols-12 gap-y-5">
                    <div class="col-span-12">
                        <div class="text-slate-500 mt-2">{{ project.project_Description | safe }}</div>
                    </div>
                </div>
            </div>
        {% endif %}

        <ul class="nav nav-link-tabs mt-2" role="tablist">

            <!-- <li id="example-1-tab" class="nav-item flex-1" role="presentation">
                <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-1" type="button" role="tab" aria-controls="example-tab-1" aria-selected="true">
                    Expenses
                </button>
            </li> -->

            <li id="example-2-tab" class="nav-item flex-1" role="presentation"> 
                <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-2" type="button" role="tab" aria-controls="example-tab-2" aria-selected="false">
                    Requisitions Created
                </button> 
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div id="example-tab-2" class="tab-pane leading-relaxed pb-10 active" role="tabpanel" aria-labelledby="example-2-tab"> 

                {% if requisitions %}
                    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">SL NO</th>
                                    <th class="text-center whitespace-nowrap">REFERENCE</th>
                                    <th class="text-center whitespace-nowrap">NUMBER OF ITEMS</th>
                                    <th class="text-center whitespace-nowrap">CREATED DATE</th>
                                    <th class="text-center whitespace-nowrap">CREATED BY</th>
                                    <th class="text-center whitespace-nowrap">STATUS</th>
                                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for requisition in requisitions %}
                                    <tr class="intro-x">
                                        <td class="text-center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="text-center whitespace-nowrap">
                                            <a href="" class="font-medium text-primary">{{ requisition.Reference }}</a>
                                        </td>
                                        <td class="text-center">{{ requisition.items }}</td>
                                        <td class="text-center">{{ requisition.Added_Date | date:'d M Y' }}</td>
                                        <td class="text-center">{{ requisition.Added_By }}</td>

                                        {% if requisition.Requisition_Status == 'APPROVED' %}
                                            <td class="text-center text-success">{{ requisition.Requisition_Status  }}</td>
                                        {% elif requisition.Requisition_Status == 'REJECTED' %}
                                            <td class="text-center text-danger">{{ requisition.Requisition_Status  }}</td>
                                        {% elif requisition.Requisition_Status == 'CHECKED' %}
                                            <td class="text-center text-primary">{{ requisition.Requisition_Status  }}</td>
                                        {% elif requisition.Requisition_Status == 'PENDING' %}
                                            <td class="text-center text-warning">{{ requisition.Requisition_Status  }}</td>
                                        {% endif %}

                                        <td class="table-report__action w-48">
                                            <div class="flex justify-center items-center">

                                                <a class="flex items-center mr-3 text-success" href="{% url 'view-requisition' requisition.Reference %}"> <i data-lucide="eye" class="w-4 h-4 mr-1"></i></a>
                                                
                                                {% if requisition.Requisition_Status == 'PENDING' %}
                                                    <a class="flex items-center mr-3 text-primary" href="{% url 'requisition' requisition.Reference %}" title="edit"> <i data-lucide="edit" class="w-4 h-4 mr-1"></i></a>
                                                {% endif %}

                                                {% if requisition.Requisition_Status == 'APPROVED' %}
                                                    <a class="flex items-center mr-3 text-primary" href="{% url 'compare' requisition.Reference %}" title="quotations"> <i data-lucide="file" class="w-4 h-4 mr-1"></i></a>
                                                {% endif %}

                                                <!-- <a class="flex items-center text-danger" onclick="delete_requisition('{{ requisition.id }}')" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal" title="delete"> 
                                                    <i data-lucide="trash" class="w-4 h-4 mr-1"></i>
                                                </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width"> 
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                            background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>   
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if user.is_superuser or user.Job_Role == 'Project Engineer' %}
                    <div class="col-span-12 flex justify-center mt-3 gap-3">
                        <a onclick="set_type(1)" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal-preview" class="btn btn-primary btn-sm p-2">CREATE MATERIAL REQUISITION</a>
                        <a onclick="set_type(2)" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal-preview" class="btn btn-primary btn-sm p-2">CREATE SERVICE REQUISITION</a>
                    </div>
                {% endif %}
            </div>

            <!-- <div id="example-tab-1" class="tab-pane leading-relaxed pb-10" role="tabpanel" aria-labelledby="example-1-tab"> 
                <div class="grid grid-cols-12 gap-6">
                    <div class="col-span-12 flex justify-end">
                        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#add-expense-modal">
                            <button class="btn btn-primary">Add Expense</button>
                        </a>
                    </div>
                    <div class="col-span-6">
                        <h2 class="text-center text-primary font-medium" style="font-size: 20px;">Direct Expenses</h2>
                        {% if direct_expenses %}
                            <div class="intro-y overflow-auto lg:overflow-visible">
                                <table class="table table-report sm:mt-2">
                                    <thead>
                                        <tr>
                                            <th class="text-center whitespace-nowrap">SL NO</th>
                                            <th class="text-center whitespace-nowrap">TITLE</th>
                                            <th class="text-center whitespace-nowrap">AMOUNT</th>
                                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expense in direct_expenses %}
                                            <tr class="intro-x">
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                
                                                <td class="text-center">{{ expense.Title }}</td>

                                                <td class="text-center">{{ expense.Amount }}</td>

                                                <td class="table-report__action w-48">
                                                    <div class="flex justify-center items-center">
                                                        <a class="flex items-center text-danger" onclick="delete_expense('{{ expense.id }}')" href="javascript:;" data-tw-toggle="modal" data-tw-target="#expense-delete-modal" title="delete"> 
                                                            <i data-lucide="trash" class="w-4 h-4 mr-1"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="intro-x">
                                            <td></td>
                                            <td class="text-center justify-center text-primary">Total : </td>
                                            <td class="text-center justify-center text-success">{{ direct_expenses_total }}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                                <table class="table table-report -mt-2">
                                    <tbody>
                                        <tr class="intro-x width"> 
                                            <td class=" width" style="width:100%;">
                                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                                    background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                                </i>
                                            <div style="text-align: center;">No data available!</div>
                                            </td>   
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-span-6">
                        <h2 class="text-center text-primary font-medium" style="font-size: 20px;">Indirect Expenses</h2>
                        {% if indirect_expenses %}
                            <div class="intro-y overflow-auto lg:overflow-visible">
                                <table class="table table-report sm:mt-2">
                                    <thead>
                                        <tr>
                                            <th class="text-center whitespace-nowrap">SL NO</th>
                                            <th class="text-center whitespace-nowrap">TITLE</th>
                                            <th class="text-center whitespace-nowrap">AMOUNT</th>
                                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expense in indirect_expenses %}
                                            <tr class="intro-x">
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                
                                                <td class="text-center">{{ expense.Title }}</td>

                                                <td class="text-center">{{ expense.Amount }}</td>

                                                <td class="table-report__action w-48">
                                                    <div class="flex justify-center items-center">
                                                        <a class="flex items-center text-danger" onclick="delete_expense('{{ expense.id }}')" href="javascript:;" data-tw-toggle="modal" data-tw-target="#expense-delete-modal" title="delete"> 
                                                            <i data-lucide="trash" class="w-4 h-4 mr-1"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="intro-x">
                                            <td></td>
                                            <td class="text-center justify-center text-primary">Total : </td>
                                            <td class="text-center justify-center text-success">{{ indirect_expenses_total }}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                                <table class="table table-report -mt-2">
                                    <tbody>
                                        <tr class="intro-x width"> 
                                            <td class=" width" style="width:100%;">
                                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                                    background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                                </i>
                                            <div style="text-align: center;">No data available!</div>
                                            </td>   
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-span-12 text-center">
                        <h2 class="text-primary font-bold" style="font-size: 20px;">Grand Total : <span class="text-danger">{{ total_expense }}</span></h2>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- END: Profile Info -->
</div>

<!-- BEGIN: Modal Content --> 
<div id="basic-modal-preview" class="modal" tabindex="-1" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-body p-10 text-center">
                <form action="{% url 'assign-pe' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <p>Select Project Engineer</p>
                    <select name="project_engineers" id="" class="tom-select mt-2">
                        {% if project.Project_Engineers %}
                            {% for pe in project.Project_Engineers.all %}
                                <option value="{{ pe.id }}" selected>{{ pe.first_name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">Search for Project Engineers</option>
                        {% endif %}
                        
                        {% for pe in project_engineers %}
                        <option value="{{ pe.id }}" class="text-left">{{ pe.first_name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success text-white mt-3">Confirm</button>
                </form>
            </div> 
        </div> 
    </div> 
</div> 
<!-- END: Modal Content --> 


<!-- BEGIN:REQUISITION Modal Content -->
<div id="delete-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'create-requisition' project.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="type" id="type">
                <div class="modal-body p-0">
                    <div class="p-5 text-center"> <i data-lucide="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to create a new requisition?</div>
                    </div>
                    <div class="px-5 pb-8 text-center"> 
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button> 
                        <button type="submit" class="btn btn-success w-24 text-white">Confirm</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
<!-- END:REQUISITION Modal Content -->

<!-- BEGIN:Expense Delete Modal Content -->
<div id="expense-delete-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'delete-expense' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="expense_id" id="expense_id">
                <div class="modal-body p-0">
                    <div class="p-5 text-center"> <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone. </div>
                    </div>
                    <div class="px-5 pb-8 text-center"> 
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button> 
                        <button type="submit" class="btn btn-danger w-24 text-white">Delete</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 
<!-- END:Expense Delete Modal Content -->

<!-- BEGIN:Expense Add Modal Content --> 
<div id="add-expense-modal" class="modal" tabindex="-1" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-body p-10 text-center">
                <form action="{% url 'add-expense' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <p>Add New Expense</p>
                    <select name="category" id="" class="form-control mt-2" required>
                        <option value="">Select Expense Category</option>
                        <option value="1">Direct Expense</option>
                        <option value="2">Indirect Expense</option>
                    </select>
                    <input type="text" name="title" placeholder="Enter Expense Title" class="form-control mt-2">
                    <input type="number" step="0.01" name="amount" placeholder="Enter Expense Amount" class="form-control mt-2">
                    <button class="btn btn-success text-white mt-3">Confirm</button>
                </form>
            </div> 
        </div> 
    </div> 
</div> 
<!-- END:Expense Add Modal Content --> 

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    function delete_expense(expense_id){
        $('#expense_id').val(expense_id)
    }
    function set_type(id){
        $('#type').val(id)
    }
</script>
{% endblock content %}