{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
{% endblock page %}

{% block content %}

<div class="content">

    <!-- BEGIN: Notification -->
    {% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <div class="intro-y box py-10 sm:py-10 mt-5">

        <h2 class="text-primary text-center font-medium py-2" style=" font-size: 30px;">Edit Project</h2>
        
        <div class="px-3 sm:px-10 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Project Name</label>
                        <input value="{{ project.Project_Name }}" name="project_name" id="category-name" type="text" class="form-control" placeholder="Enter project name here" required maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Job No</label>
                        <input value="{{ project.Job_No }}" name="job-no" type="text" class="form-control" placeholder="Enter job no here" required maxlength="100">
                    </div>

                    <!-- <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Reference</label>
                        <input value="{{ project.Reference }}" name="project_id" type="text" class="form-control" readonly maxlength="50">
                    </div> -->

                    <!-- <div class="col-span-12">
                        <h2 class="text-primary text-center font-medium my-5" style=" font-size: 20px;">Client Details</h2>
                    </div> -->

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Client Name</label>
                        <input value="{{ project.Client_Name }}" name="client_name" type="text" class="form-control" placeholder="Enter client name here" maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Client Mobile</label>
                        <input value="{{ project.Client_Mobile }}" name="client_mobile" type="text" class="form-control" placeholder="Enter client mobile number here" maxlength="15">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Client Email</label>
                        <input value="{{ project.Client_Email }}" name="client_email" type="text" class="form-control" placeholder="Enter client email here">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Client Address</label>
                        <input value="{{ project.Client_Address }}" name="client_address" type="text" class="form-control" placeholder="Enter client address here">
                    </div>

                    <!-- <div class="col-span-12">
                        <h2 class="text-primary text-center font-medium my-5" style=" font-size: 20px;">Contact Details</h2>
                    </div> -->

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Contact Name</label>
                        <input value="{{ project.Contact_Name }}" name="contact_name" type="text" class="form-control" placeholder="Enter contact person name here" maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Contact Number</label>
                        <input value="{{ project.Contact_Number }}" name="contact_mobile" type="text" class="form-control" placeholder="Enter contact person name here" maxlength="15">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Department Managers</label>
                        <select name="department_managers" id="" class="tom-select" required>
                            <option value="">Select Department Managers</option>
                            {% for dm in project.Department_Managers.all %}
                                <option value="{{ dm.id }}" selected>{{ dm.first_name }}</option>
                            {% endfor %}
                            {% for dm in department_managers %}
                                <option value="{{ dm.id }}">{{ dm.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Contract Value</label>
                        <input value="{{ project.Expected_Amount }}" name="expected_amount" type="number" class="form-control" placeholder="Enter expected amount here">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Starting Date</label>
                        <input value="{{ project.Expected_Starting_Date | date:'Y-m-d' }}" name="expected_starting_date" type="date" class="form-control">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Ending Date</label>
                        <input value="{{ project.Expected_Ending_Date | date:'Y-m-d' }}" name="expected_ending_date" type="date" class="form-control">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-12">
                        <label for="input-wizard-2" class="form-label">Project Description</label>
                        <textarea name="description" id="editor" rows="7" class="form-control">{{ project.project_Description }}</textarea>
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <button id="submit-btn" class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}